<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PriceAggregator.WPFApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PriceAggregator.WPFApp.Properties.Settings>
            <setting name="BotToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatId" serializeAs="String">
                <value />
            </setting>
        </PriceAggregator.WPFApp.Properties.Settings>
    </userSettings>
  <appSettings>
    <!--here you can set the name of the coin (for example, BTC) or the name of the pair (for example, BTCUSDT), or set ALL (then all currency pairs will be received)-->
    <add key="CommonFilter" value="BTCUSDT"/>
  </appSettings>
</configuration>